[submodule "marketing"]
	path = marketing
	url = git@github.com:FabricLabs/marketing.git
[submodule "fabric"]
	path = fabric
	url = git@github.com:FabricLabs/fabric.git
[submodule "portal"]
	path = portal
	url = git@github.com:FabricLabs/portal.git
